*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: auto;
}
body{
    text-align: center;
}
a {
    color: azure;
    text-decoration: none;
    font-size: 60%;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid azure;
    line-height: 150%;
    color: azure;
  }
  table{
    background-image: linear-gradient(to right top, #6F69AC,#95DAC1);
    width: 100%;
    height: 100%;
  }
  .fas {
      color: azure;
      font-size: 160%;
  }
